<html>
<head>
	<title>Screen sharing example</title>
	<script src="https://code.jquery.com/jquery-1.10.1.min.js "></script>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
</head>
<body>
    <ul id='activeVideoList'></ul>
    <div><input type="button" id="btnStartShare" value="JavaScript Error" /></div>
    <div id="vid_src">Waiting..</div>
    <div id="localScreenContainer">Video shows here.</div>
    <div><video id="remoteVideo" width="50%" height="50%" autoplay="autoplay"></video></div>
    <div><video id="lv" width="50%" height="50%" autoplay="autoplay"></video></div>
    <div><video id="rv" width="50%" height="50%" autoplay="autoplay"></video></div>
    <div><video id="rv_cam" width="50%" height="50%" autoplay="autoplay"></video></div>

    <script src="js/share.js"></script>
    
    <ol/>
    <script>

var log = function(e) {
    $('ol').append("<li>"+JSON.stringify(e)+"</li>");
}

var sock = new WebSocket({{.WebsocketURL}})

sock.onerror = function(e) { log({ERROR:e}) };    
sock.onclose = function(e) { log({CLOSE:e}) };    
sock.onmessage = function(e) { log({MESSAGE:e.data}) };    

sock.onopen = function(e) { 
    log({OPEN:e}) 
	sock.send("hello at " + new Date());
};    

    </script>
</body>
</html>
