<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>websocket test</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
  </head>
  <body>
      <p> go-lang / chrome websocket test at {{.WebsocketURL}}: </p>
    <ol/>
    <script>

var log = function(e) {
    $('ol').append("<li>"+JSON.stringify(e)+"</li>");
}

var sock = new WebSocket({{.WebsocketURL}})

sock.onerror = function(e) { log({ERROR:e}) };    
sock.onclose = function(e) { log({CLOSE:e}) };    
sock.onmessage = function(e) { log({MESSAGE:e.data}) };    

sock.onopen = function(e) { 
    log({OPEN:e}) 
    setInterval(function() {
	sock.send("hello at " + new Date());
    },2000);
};    

    </script>
  </body>
</html>

